<h1 class="text-3xl">Precios de la aplicacion</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipiscing elit, pellentesque cursus
    tellus risus pulvinar habitasse felis gravida, posuere aptent curabitur etiam
    parturient molestie. Blandit dignissim taciti lacus malesuada senectus eleifend, purus montes
    tristique pretium urna aliquet nec, himenaeos primis placerat libero
    dictumst. Habitant at justo mollis ante phasellus potenti ultricies hac
    felis nisi, lacinia senectus maecenas elementum taciti est diam penatibus malesuada.
  </p>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipiscing elit, pellentesque cursus
    tellus risus pulvinar habitasse felis gravida, posuere aptent curabitur etiam
    parturient molestie. Blandit dignissim taciti lacus malesuada senectus eleifend, purus montes
    tristique pretium urna aliquet nec, himenaeos primis placerat libero
    dictumst. Habitant at justo mollis ante phasellus potenti ultricies hac
    felis nisi, lacinia senectus maecenas elementum taciti est diam penatibus malesuada.
  </p>
</section>
